@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main {
    width: 1200px;
    margin: auto;
}

.cabecalho{
    height: 300px; 
    background-color: #4ff;
    background-size: cover;
    text-align: center;
}

.titulo1{
    font-size: "Lobster"; 
    color: #5a1dcb;   
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    font-size: 60px; 
    padding-top: 55px;
}
.titulo2{
    font-family: "Lobster"; 
    color: #5a1dcb; 
    font-size: 50px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    margin: 20px 01; 
    margin-top: 50px;   
}

.menu-principal{
    background-color: white;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Roboto";
    text-align: center;
}
.menu-texto{
    font-size: 40px;
    text-decoration: none;
    margin: 42px;   
}

.imagem{
    height: auto;
    width: 100%;
}

.servicos2{
    font-size: 40px;
    text-decoration: none;
    margin: 42px; 
    text-align: center;
    color: #5a1dcb;
}

.texto{
    font-family: "Roboto";
    font-size: 20px;   
}

.texto1{
    font-family: "Roboto";
    font-size: 20px;   
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 50px;
    margin-left: 50px;
}
.texto2{
    font-family: "Roboto";
    font-size: 20px;   
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
.texto3{
    font-family: "Roboto";
    font-size: 20px;   
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
    margin-right: 50px;
    margin-left: 50px;
}

.container {
    display: flex;
    align-items: center;
}

.fotos{
    background-color: #274C77;
    text-align: center;
}

.fotos-bebe{
    margin-left: 84px;
    margin-top: 75px;
    margin-bottom: 75px;
}
.fotos-idosos{
    margin-left: 85px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.fotos-olimpica{
    margin-left: 85px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.contato{
    background-color: #A3CEF1;
    text-align: center;
    font-weight: bold;
    font-size: 34PX;
    padding-bottom: 23px;
    padding-top: 23px;
}

.contatos{
    font-weight: bpld;
    font-family: "Roboto";
    font-size: 30px;
    display : block;
}




